<div class= "header"> <h3> co<sub>2</sub> / population </h3>
</div>
  <br><br><br>  <br><br><br>

<!-- views/partials/header.ejs -->
<body>
<div id="wrapper">
   <form method=post action=/>
   <select name="valitse">
     <% collection2.forEach(function(collection2) { %>
       <option value=<%= collection2.CountryCode %>> <%= collection2.CountryName %></option>
     <% }); %>
   </select>


      <button class="button" type="submit">Submit</button>
   <form>
