<!-- views/partials/head.ejs -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>co2/population</title>
<html xmlns="http://www.w3.org/1999/xhtml">
<style>



  * {
    margin: 0px;
    padding: 0px;
  }

  p {
    margin: 0px;
    padding: 0px;
  }

  ul {
    margin: 0px;
    padding: 0px;
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  input {
    background: transparent
  }

  input[type="text"] {
  width: 100%;
  height: 30px;
  display: block;
  margin-bottom: 10px;
}

  a {
    color: #650000;
    text-decoration: none;
  }

  a:hover {
    color: #5a5a5a;
    text-decoration: underline;
  }

select{
  width:100%;
  height: 25px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #313131;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #beccbf;
  }

input[type=submit] {
width: 100%;
background-color: orange;
color: black;
padding: 14px 20px;
margin: 8px 0;
size: 15px;
border: none;
border-radius: 4px;
cursor: pointer;
}
input[type=submit]:hover {

background-color: #C6AF8F;
}


h1 {
font-family: Arial;
  font-size: 32px;

}

h3 {
font-family: Arial;
  font-size: 40px;
  text-shadow: 2px 2px 2px black;

}

  body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
  }

  .clear {
    margin: 0px;
    padding: 0px;
    height: 0px;
    font-size: 0px;
    clear: both;
  }

  #wrapper {
    margin: 0px auto;
    width: 90%;
  }

  #branding {
    height: 150px;
  }

  #contant {
    width: 100%;
  }
  .header {
    background-color: #eee;
    background-image: url("pattern.jpg");
    color: white;
    font-size: 14px;
    height: 60px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    border-bottom: 5px solid orange;
    box-shadow: 0px 1px 5px grey;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }

  #contant h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 38px;
    color: #3a3a3a;
    font-weight: normal;
    margin-bottom: 20px;
  }

  #contant h2 span {
    display: block;
    font-size: 10px;
    color: #808080;
    border-top: 2px dotted #3a3a3a;
    font-family: tahoma, arial;
    padding-top: 5px;
  }


  #footer {
    background: #4A4A4A;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }

  #footer p {
    color: #E1E1E1;
    font-size: 14px;
    line-height: 20px;
  }


</style>
<br><br>
